/* Display Property Practice */
#wall {
    border: 3px solid black;
    width: 344px;
}
.box {
    background-color: #ff4d63;
    color: black;
    font-size: 30px;
    text-align: center;
    height: 50px;
}

.one {
    
}

.two {
    
}

.three {
    
}

.four {
    
}

.five {
    
}

.six {
    
} 

/* Box Model Practice */

.framed {
    border: 10px groove goldenrod;
}

.picture1 {
    padding: 15px;
    margin: 0px 20px 20px 30px; 
}

.picture2 {
    margin-bottom: 20px;   
}

.picture3 {
    padding: 10px;
    vertical-align: top;
}

.picture4 {
    margin-left: 20px;
}

