.recipe {
    width: 700px;
    background-color: rgb(255,77,99);
    
}

.part {
    background-color: rgb(239,184,191);
    border: 1px solid black;
    
}

#info {
    
}

.ingredients {
    
}

.instructions {
    
}

li {
    
}

th,td {
    
}

