/*-------------------- Grid Practice --------------------*/

.grid-example {
    width: 900px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 80px auto 80px;
    grid-template-areas: 
        "area1 area1 area1"
        "area2 area3 area4"
        "area5 area5 area5";
}

.grid-area {
    color: white;
    font-weight: bold;
    text-align: center;
}

.header {
    background-color: #ff4d63;
    grid-area: area1; 
}

.left-side {
    background-color: #9557ec;
    grid-area: area2;
}

.main {
    background-color: #1dd0b4;
    grid-area: area3;
}

.right-side{
    background-color: #4d7aff;
    grid-area: area4;
}

.footer {
    background-color: #ffbe00;
    grid-area: area5;
}


/*-------------------- Flexbox Practice --------------------*/

.flex-example {
    background-color: antiquewhite;
    width: 900px;
    margin-left: 30px;
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    background: tomato;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 250px;
    height: 100px;
    flex-grow: 1;
    
}

.item1 {

}

.item2 {
    
}

.item3 {
   
} 

.item4 {
    
}

.item5 {
    
}